body{
    background-color: rgb(242, 242, 242);
    font-family: 'Courier New', Courier, monospace;
}
table{
    border-collapse: collapse;
    margin-top: 15px;
}
th{
    background-color: rgb(209, 187, 192);
}
th,td{
    border: 2px solid rgb(0, 0, 0);
}